@model DMMS.Models.Tag
@inject IHttpContextAccessor HttpContextAccessor
<h2>Details</h2>
<dl class="row">
    <dt>Id</dt><dd> @Model.Id</dd>    <dt>Name</dt><dd> @Model.Name</dd>    <dt>Alias</dt><dd> @Model.Alias</dd>    <dt>Value</dt><dd> @Model.Value</dd>    <dt>CompanyId</dt><dd> @Model.CompanyId</dd>    <dt>UserId</dt><dd> @Model.UserId</dd>    <dt>Guid</dt><dd> @Model.Guid</dd>    <dt>Identity</dt><dd> @Model.Identity</dd>    <dt>Status</dt><dd> @Model.Status</dd>    <dt>Tenant</dt><dd> @Model.Tenant</dd>    <dt>CreatedBy</dt><dd> @Model.CreatedBy</dd>    <dt>CreationDate</dt><dd> @Model.CreationDate</dd>    <dt>ModifiedBy</dt><dd> @Model.ModifiedBy</dd>    <dt>ModifiedDate</dt><dd> @Model.ModifiedDate</dd>
</dl>
<ahref="@Url.Action("Edit")" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
<ahref="@Url.Action("Index")" class="btn btn-secondary">Back</a>